@model LinkedIN.Application.Model.Profile
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "LinkedIn Matrix Analyzer";
    List<string> comments_rows = new List<string>();
    List<string> likes_rows = new List<string>();
    foreach (LinkedIN.Application.Model.Data week in @Model.weeks.Values)
    {
        comments_rows.Add("['" + @week.date + "', " + @week.comments + "]");
        likes_rows.Add("['" + @week.date + "', " + @week.likes + "]");
    }
    var comments = "['Week', 'Comments']," + String.Join(",", comments_rows);
    var likes = "['Week', 'Likes']," + String.Join(",", likes_rows);
}
@section Scripts {
 <script type="text/javascript" src="https://www.google.com/jsapi"></script>
}
<script type="text/javascript">
  var comments_data, likes_data, options, chart_likes, chart_comments;
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    comments_data = google.visualization.arrayToDataTable([@Html.Raw(comments)]);
    likes_data = google.visualization.arrayToDataTable([@Html.Raw(likes)]);
    options = {
        title: "People liked you",
        fontSize: 12,
        titleTextStyle: {fontSize: 20, bold: true},
        hAxis: { title: 'Week', textStyle: {fontSize:10, bold: true}, slantedText: true, slantedTextAngle:45 },
        colors: ["#0D2040"],
        legend: "none",
        // vAxis: {maxValue: 11},
        width: '80%', height: 500,
        chartArea: {width: 400}
    };
    chart_likes = new google.visualization.ColumnChart(document.getElementById('chart_likes'));
    chart_likes.draw(likes_data, options);
    chart_comments = new google.visualization.ColumnChart(document.getElementById('chart_comments'));
    options['colors'] = ["#FD9C19"];
    options['title'] = "People talked to you";
    chart_comments.draw(comments_data, options);
  }
</script>
<div class="container well">
  <div class="row" style="line-height: 200px;">
    <div class="span5" id="chart_likes"></div>
    <div class="span5" id="chart_comments" ></div>
    <div class="span2">
      <div class="pagination-centered">
        <img src="@Model.person.PictureUrl" style="vertical-align:bottom" />
        <p class="lead">@Model.person.FirstName @Model.person.LastName</p>          
      </div>
      <div class="pagination-centered">
        <h3>@Model.person.NetworkStats.properties[0].Value</h3>
        <h4>Direct Contacts</h4>
      </div>
      <div class="pagination-centered">
        <h3>@Model.person.NetworkStats.properties[1].Value</h3>
        <h4>Second Degree Contacts</h4>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row" style="height: 100px;">
        <img src="../../Content/adwords_logo.jpg" class="offset1 span10" />
    </div>
</div>
@helper formatPercentage(int number)
{
    if(number>0) {
        <span style="color:green">+@number%</span>
    }
    else
    {
        <span style="color:red">@number%</span>
    }
}
<div class="accordion container well" id="monthes">
    <h1>Timeline:</h1>

    @foreach (LinkedIN.Application.Model.Data month in Model.monthes.Values)
    {
    <div class="accordion accordion-group" style="background-color: white">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#monthes" href="#month-@month.month">
            @month.name (@month.likes likes @formatPercentage(month.likesPercentage) @month.comments comments @formatPercentage(month.commentsPercentage))
        </a>
      </div>
      <div id="month-@month.month" class="accordion-body collapse @(month.index == 1 ? "in" : "")">
        <div class="accordion-inner accordion" id="parent-month-@month.month">
            @foreach (LinkedIN.Application.Model.Data week in Model.weeks.Values)
            {
                if (@month.month == @week.month && week.activities.Count > 0)
                {
                    week.activities.Sort((itemA, itemB) => itemB.date.CompareTo(itemA.date));
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#parent-month-@month.month" href="#month-@month.month-week-@week.week">
                  @week.name (@week.likes likes @formatPercentage(week.likesPercentage) @week.comments comments @formatPercentage(week.commentsPercentage))
              </a>
            </div>
            <div class="accordion-body collapse @(week.week == 1 ? "in" : "")" id="month-@month.month-week-@week.week">
              <div class="accordion-inner">
                <div class="accordion accordion-group"  style="border: none;">
                @foreach (LinkedIN.Application.Model.Data activity in week.activities)
                {
                    <div class="well well-small">@activity.date
                    @switch (activity.type)
                    {
                        case "SHAR":
                            @:status update "@activity.name"
                            break;
                        case "GRP":
                            @:<a target="_blank" href="@activity.href">group discussion "@activity.name"</a>
                            break;
                        case "2":
                        default:
                            @:comment in <a target="_blank" href="@activity.href">group discussion "@activity.name"</a> - @activity.type
                            break;
                    }
                  (@activity.likes likes, @activity.comments comments)</div>
                }
                </div>
              </div>
            </div>
          </div>
                }
            }
        </div>
      </div>
    </div>
    }
</div>